.logo{
    padding:200px 0px 20px;
    margin: 0 auto;
    display: block;}
.center{
    display:block;
    text-align:center;
    margin: 0 auto;}
ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
}
li{
    display: inline;
    padding: 0 10px;
}
.searchbar button{
    display: inline-block;
    text-align: center;
    height:36px;
    line-height:27px;
    border:none;
    background-color:#f2f2f2;
    padding:0 16px;
    border-radius:4px;
    margin:11px 4px;
}
.searchbar button:hover{
    border:1px solid #c6c6c6;
    box-shadow:0 1px 1px rgba(0,0,0,.1)
}
.footer {
    background-color:#f2f2f2;
}
a {
    font-family:Arial, sans-serif;
    font-size:13px;
    color:rgba(0,0,0,.87);
    text-decoration:none;
    
}
a:hover{
    text-decoration:underline;
}
.footer{
    background-color:#f2f2f2;
    position:fixed;
    bottom:0;
    width:100%;
    margin-left:-8px;
    padding:10px 0;
    border-top:1px solid #e4e4e4;
}
.left{
    float:left;
}
.right{
    float:right;
}
.footer a{
    color:#5f6368;
}
.signin{
    background:-webkit-linear-gradient(top,#4387fd, #4683ea);
    padding: 5px 12px;
    line-height:28px;
    position:relative;
    border-radius:4px;
}
.signin a{
    color:white;
    font-weight:bold;
    outline:none;
    border:1px solid #4285f4;
    
}